@import url("https://fonts.googleapis.com/css?family=Megrim"); 
@import url("https://fonts.googleapis.com/css?family=Gruppo"); 
@import url("https://fonts.googleapis.com/css?family=Bubbler+One");

body {
  background-color: #c2ddd8;
}

#all {
  margin: auto;
  width: 60%;
}

input[type=button] {
  background-color: #ee5757;
  color: #FFFFFF;
  font-size: 15px;
  font-family: Bubbler One, sans-serif;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 12px;
  margin: 5px 5px;
  cursor: pointer;
  box-shadow: 0 2px #999;
}

input[type=button]:hover {
  background-color: #50e2e2;
}

input[type=button]:active {
  transform: translateY(2px);
}

input[type=text] {
  width: 118px;
  height: 20px;
  font-size: 20px;
  color: #9b9999;
  font-family: Gruppo, Courier New, sans-serif;
  border-radius: 5px;
  padding: 3px 3px;
}

form {
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  width: 212px;
  height: 280px;
  border-radius: 18px;
  box-shadow: 5px 5px 5px #d3cdcd;
  margin: auto;
}

#calContent {
  margin: 20px 20px;
}

h1 {
  margin-top: 50px;
  color: #fffef2;
  font-family: Megrim, Impact, sans-serif;
  font-size: 50px;
  text-align: center;
}
